<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish Species Prediction</title>
    <style>
        /* Style for the button */
        .predict-button {
            background-color: plum;
            color: black;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Fish Species Prediction</h1>
    <form id="predictionForm">
        <label for="weight">Weight:</label><br>
        <input type="text" id="weight" name="weight"><br>
        <label for="length1">Length1:</label><br>
        <input type="text" id="length1" name="length1"><br>
        <label for="length2">Length2:</label><br>
        <input type="text" id="length2" name="length2"><br>
        <label for="length3">Length3:</label><br>
        <input type="text" id="length3" name="length3"><br>
        <label for="height">Height:</label><br>
        <input type="text" id="height" name="height"><br>
        <label for="width">Width:</label><br>
        <input type="text" id="width" name="width"><br><br>
        <!-- Add class to button for styling -->
        <button type="button" class="predict-button" onclick="predictSpecies()">Predict Species</button>
    </form>

    <div id="predictionResult"></div>

    <script>
        function predictSpecies() {
            var weight = document.getElementById("weight").value;
            var length1 = document.getElementById("length1").value;
            var length2 = document.getElementById("length2").value;
            var length3 = document.getElementById("length3").value;
            var height = document.getElementById("height").value;
            var width = document.getElementById("width").value;

            var data = {
                "weight": weight,
                "length1": length1,
                "length2": length2,
                "length3": length3,
                "height": height,
                "width": width
            };

            fetch("/predict", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("predictionResult").innerHTML = "Predicted Species: " + data.species;
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
